Verify Body Text for {{inc_file}}

Source File: {{source_link}}

Is formatting of the introduction text for each section well formatted?
Check for lists and headers that may have been stripped in processing.
