Examples for {{method_name}} in {{inc_file}}

Source Code: {{source_link}}

Is there an example response for all request / response that have a body?
Is there an english description of the change in question explaining the action that it would have?
