
Verify methods
Do all methods of the resource currently exist?
Rearange methods in order (sorted by url)
GET
POST
PUT
DELETE
i.e. for servers.inc GET /servers, POST /servers, GET /servers/details, GET /servers/{id}, PUT /servers/{id}, DELETE /servers/{id}
