Verify method list for {{inc_file}}

Source Code: {{source_link}}

1. Do all methods for the resource currently exist?

Methods currently documented:
{{methods_list}}

2. Rearrange methods in the following order (sorted by url):
GET
POST
PUT
DELETE

For example, servers.inc would be:
GET /servers
POST /servers
GET /servers/details
GET /servers/{id}
PUT /servers/{id}
DELETE /servers/{id}
