Verify all parameters
Are all parameters that exist in the resource are listed
Are all parameters referencing the right lookup value in parameters.yaml
name, id are common issues, will need $foo_name and $foo_id created
Add microversion parameters at the end of the table in order of introduction
min_ver: 2.10 is a valid parameter key
